<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="SqlUnitTesting_VS2013" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SimplePay-20141103161001;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SimplePay-20141103161001.mdf" />
    <add name="SimplePay_HaendlerdatenEntities" connectionString="metadata=res://*/Models.SimplePay_HaendlerdatenEntities.csdl|res://*/Models.SimplePay_HaendlerdatenEntities.ssdl|res://*/Models.SimplePay_HaendlerdatenEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.173.138.214;initial catalog=SimplePay_Haendlerdaten;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SimplePay_StammdatenEntities" connectionString="metadata=res://*/Models.SimplePay_Stammdaten.csdl|res://*/Models.SimplePay_Stammdaten.ssdl|res://*/Models.SimplePay_Stammdaten.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.173.138.214;initial catalog=SimplePay_Stammdaten;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <SqlUnitTesting_VS2013>
        <DataGeneration ClearDatabase="true" />
        <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=THOMAS2014\SQLEXPRESS;Initial Catalog=SimplePay_Haendlerdaten;User ID=sa;Pooling=False;MultipleActiveResultSets=False;Application Name=&quot;Microsoft SQL Server Data Tools, Create Project&quot;"
            CommandTimeout="30" />
        <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=THOMAS2014\SQLEXPRESS;Initial Catalog=SimplePay_Haendlerdaten;User ID=sa;Pooling=False;MultipleActiveResultSets=False;Application Name=&quot;Microsoft SQL Server Data Tools, Create Project&quot;"
            CommandTimeout="30" />
    </SqlUnitTesting_VS2013>
</configuration>